@import url("https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;500;700&amp;display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Ubuntu', sans-serif;
  font-size: 1em;
  color: #ffffffcb;
  text-decoration: none;
  list-style: none;
}

.hidden {
  display: none !important;
}

body,
html {
  background-color: #111;
  overflow-x: hidden;
}

body {
  overflow: hidden;
}

.mainHeader {
  width: 100%;
  position: fixed;
  background-color: #111;
  z-index: 100;
}

.mainHeader .mainHeaderContent {
  max-width: 1300px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.mainHeader .mainHeaderContent .logo {
  -ms-flex-preferred-size: 200px;
      flex-basis: 200px;
  padding: 20px;
  width: 200px;
}

.mainHeader .mainHeaderContent .logo img {
  width: 100%;
}

.mainHeader .mainHeaderContent .mainHeaderContentMenu {
  -ms-flex-preferred-size: calc(100% - 200px);
      flex-basis: calc(100% - 200px);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.mainHeader .mainHeaderContent .mainHeaderContentMenu ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
}

.mainHeader .mainHeaderContent .mainHeaderContentMenu ul li {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.mainHeader .mainHeaderContent .mainHeaderContentMenu ul li a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 1.2em;
  padding: 0 20px;
  height: 100%;
  -webkit-transition: .5s;
  transition: .5s;
}

.mainHeader .mainHeaderContent .mainHeaderContentMenu ul li a:hover {
  color: #00688c;
}

.mainHeader .mainHeaderContent .mainHeaderContentMenu .btn {
  background-color: #00688c;
  font-size: 1.2em;
  padding: 10px 20px;
  border-radius: 10px 0 10px 0;
  margin: auto 20px;
  -webkit-transition: .5s;
  transition: .5s;
  text-align: center;
}

.mainHeader .mainHeaderContent .mainHeaderContentMenu .btn:hover {
  background-color: #5c7cdd;
}

.mainHeader .mainHeaderContent .mainHeaderContentMenuMobile {
  -ms-flex-preferred-size: calc(100% - 200px);
      flex-basis: calc(100% - 200px);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  position: relative;
  padding: 20px;
  -webkit-transition: .5s;
  transition: .5s;
  display: none;
}

.mainHeader .mainHeaderContent .mainHeaderContentMenuMobile > ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.mainHeader .mainHeaderContent .mainHeaderContentMenuMobile > ul > li span {
  cursor: pointer;
}

.mainHeader .mainHeaderContent .mainHeaderContentMenuMobile > ul > li span i {
  font-size: 2em;
  color: #00688c;
}

.mainHeader .mainHeaderContent .mainHeaderContentMenuMobile > ul > li ul {
  top: 0;
  left: 0;
  position: absolute;
  background-color: #222;
  height: 100vh;
  width: 100%;
  -webkit-transition: .5s;
  transition: .5s;
  -webkit-transform: translateX(100%);
          transform: translateX(100%);
}

.mainHeader .mainHeaderContent .mainHeaderContentMenuMobile > ul > li ul li {
  text-align: center;
  cursor: pointer;
  border-bottom: 1px solid #FFFFFF1F;
  padding: 20px;
}

.mainHeader .mainHeaderContent .mainHeaderContentMenuMobile > ul > li ul li:hover a {
  color: #00688c;
}

.mainHeader .mainHeaderContent .mainHeaderContentMenuMobile > ul > li ul.active {
  -webkit-transform: translateX(0);
          transform: translateX(0);
}

.mainHeader .mainHeaderContent .mainHeaderContentMenuMobile > ul > li ul #closeMobile {
  height: 84.83px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.mainCta {
  width: 100%;
}

.mainCta .mainCtaContent {
  max-width: 1300px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding: 250px 20px;
}

.mainCta .mainCtaContent .mainCtaContentLeft {
  -ms-flex-preferred-size: 50%;
      flex-basis: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.mainCta .mainCtaContent .mainCtaContentLeft > header {
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.mainCta .mainCtaContent .mainCtaContentLeft > header h1 {
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
  font-size: 4em;
}

.mainCta .mainCtaContent .mainCtaContentLeft > header h1 span {
  color: #00688c
  
}

.mainCta .mainCtaContent .mainCtaContentLeft > header p {
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
  font-size: 1.2em;
}

.mainCta .mainCtaContent .mainCtaContentLeft .btn {
  background-color: #00688c;
  padding: 10px 20px;
  margin: auto 0;
  border-radius: 10px 0 10px 0;
  font-weight: 500;
  -webkit-transition: .5s;
  transition: .5s;
}

.mainCta .mainCtaContent .mainCtaContentLeft .btn:hover {
  background-color: #5c7cdd;
}

.mainCta .mainCtaContent .mainCtaContentRight {
  -ms-flex-preferred-size: 50%;
      flex-basis: 50%;
}

.mainCta .mainCtaContent .mainCtaContentRight img {
  width: 100%;
}

.mainService {
  width: 100%;
}

.mainService .mainServiceContent {
  max-width: 1300px;
  margin: 0 auto;
  padding: 40px 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.mainService .mainServiceContent > header {
  text-align: center;
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
  margin-bottom: 40px;
}

.mainService .mainServiceContent > header h1 {
  font-size: 2em;
  margin-bottom: 10px;
}

.mainService .mainServiceContent > header p {
  font-size: 1.1em;
}

.mainService .mainServiceContent > article {
  background-color: #222;
  border-radius: 20px;
  padding: 40px 40px 60px 40px;
  -ms-flex-preferred-size: calc(33% - 10px);
      flex-basis: calc(33% - 10px);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-shadow: 0px 0px 10px 0px #FFFFFF1F;
          box-shadow: 0px 0px 10px 0px #FFFFFF1F;
}

.mainService .mainServiceContent > article img {
  height: 100px;
  -ms-flex-preferred-size: 50px;
      flex-basis: 50px;
  background-color: #00688c;
  padding: 10px;
  border-radius: 15px 0 15px 0;
  margin-bottom: 20px;
}

.mainService .mainServiceContent > article .mainServiceContentDescription {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.mainService .mainServiceContent > article .mainServiceContentDescription h2 {
  color: #00688c;
  margin-bottom: 10px;
  font-size: 1.3em;
}

.mainService .mainServiceContent > article .mainServiceContentDescription p {
  font-size: 1.1em;
}

.mainService .mainServiceContent > article:hover {
  -webkit-box-shadow: 0px 0px 10px 0px #FFFFFF80;
          box-shadow: 0px 0px 10px 0px #FFFFFF80;
}

.mainWeb {
  width: 100%;
}

.mainWeb .mainWebContent {
  max-width: 1300px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding: 40px 20px;
}

.mainWeb .mainWebContent .mainWebContentRight {
  -ms-flex-preferred-size: 50%;
      flex-basis: 50%;
  padding: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.mainWeb .mainWebContent .mainWebContentRight > header {
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  padding-bottom: 20px;
}

.mainWeb .mainWebContent .mainWebContentRight > header h1 {
  font-size: 2em;
  margin-bottom: 10px;
}

.mainWeb .mainWebContent .mainWebContentRight .btn {
  background-color: #00688c;
  padding: 10px 20px;
  margin: 0 0 auto 0;
  border-radius: 10px 0 10px 0;
  -webkit-transition: .5s;
  transition: .5s;
}

.mainWeb .mainWebContent .mainWebContentRight .btn:hover {
  background-color: #5c7cdd;
}

.mainWeb .mainWebContent .mainWebContentLeft {
  -ms-flex-preferred-size: 50%;
      flex-basis: 50%;
}

.mainWeb .mainWebContent .mainWebContentLeft img {
  width: 100%;
}

.mainPlans {
  width: 100%;
}

.mainPlans .mainPlansContent {
  max-width: 1300px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding: 40px 20px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.mainPlans .mainPlansContent > header {
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 40px;
}

.mainPlans .mainPlansContent > header h1 {
  font-size: 2em;
}

.mainPlans .mainPlansContent > article {
  -ms-flex-preferred-size: calc(33% - 10px);
      flex-basis: calc(33% - 10px);
  background-color: #222;
  border-radius: 20px;
  padding: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-shadow: 0px 0px 10px 0px #FFFFFF1F;
          box-shadow: 0px 0px 10px 0px #FFFFFF1F;
}

.mainPlans .mainPlansContent > article > header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.mainPlans .mainPlansContent > article > header h2 {
  font-size: 1.5em;
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
  text-align: center;
  color: #00688c;
}

.mainPlans .mainPlansContent > article > header p {
  font-size: 1.2em;
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
  text-align: center;
  margin-bottom: 20px;
}

.mainPlans .mainPlansContent > article > header hr {
  width: 80%;
  border: none;
  background-color: #333;
  height: 1px;
  margin-bottom: 20px;
}

.mainPlans .mainPlansContent > article p {
  margin-bottom: 20px;
}

.mainPlans .mainPlansContent > article .btn {
  background-color: #00688c;
  padding: 10px 20px;
  margin: auto;
  border-radius: 10px 0 10px 0;
  -webkit-transition: .5s;
  transition: .5s;
}

.mainPlans .mainPlansContent > article .btn:hover {
  background-color: #00688c;
}

.mainFaq {
  width: 100%;
  padding: 40px 20px;
}

.mainFaq .mainFaqContent {
  max-width: 700px;
  margin: 0 auto;
  padding: 40px 20px;
  background-color: #222;
  border-radius: 20px;
  -webkit-box-shadow: 0px 0px 10px 0px #FFFFFF1F;
          box-shadow: 0px 0px 10px 0px #FFFFFF1F;
}

.mainFaq .mainFaqContent > header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 20px;
}

.mainFaq .mainFaqContent > header h1 {
  font-size: 2em;
}

.mainFaq .mainFaqContent > article h2 {
  font-size: 1.2em;
  padding: 20px 0;
  cursor: pointer;
}

.mainFaq .mainFaqContent > article h2:hover {
  color: #00688c;
}

.mainFaq .mainFaqContent > article h2.active {
  padding: 20px 0 0 0;
  color: #00688c;
}

.mainFaq .mainFaqContent > article h2.active:after {
  content: "\2796";
}

.mainFaq .mainFaqContent > article h2:after {
  content: '\02795';
  font-size: 1rem;
  color: #FFFFFFDE;
  float: right;
  margin-left: 5px;
}

.mainFaq .mainFaqContent > article .faq {
  display: none;
}

.mainFooter {
  width: 100%;
}

.mainFooter .mainFooterContent {
  max-width: 1300px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 40px 20px 20px 20px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.mainFooter .mainFooterContent hr {
  margin-top: 20px;
  width: 100%;
  border: none;
  height: 1px;
  background-color: #FFFFFF1F;
}

.mainFooter .mainFooterContent > header {
  -ms-flex-preferred-size: calc(100% / 3);
      flex-basis: calc(100% / 3);
}

.mainFooter .mainFooterContent > header h1 {
  font-size: 2.5em;
  cursor: pointer;
}

.mainFooter .mainFooterContent > article {
  -ms-flex-preferred-size: calc(100% / 3);
      flex-basis: calc(100% / 3);
}

.mainFooter .mainFooterContent > article > header h2 {
  font-size: 1.2em;
  color: #00688c;
  margin-bottom: 10px;
}

.mainFooter .mainFooterContent > article ul li {
  margin-bottom: 8px;
}

.mainFooter .mainFooterContent > article ul li a:hover {
  text-decoration: underline;
  color: #ddd;
}

.mainFooterRights {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 0 20px 0;
}

/* Scroll Animations */
[data-anima] {
  opacity: 0;
  -webkit-transition: 1s;
  transition: 1s;
}

[data-anima="left"] {
  -webkit-transform: translate3d(-300px, 0, 0);
          transform: translate3d(-300px, 0, 0);
}

[data-anima="center"] {
  -webkit-transform: translate3d(0, 300px, 0);
          transform: translate3d(0, 300px, 0);
}

[data-anima="right"] {
  -webkit-transform: translate3d(300px, 0, 0);
          transform: translate3d(300px, 0, 0);
}

[data-anima].animation {
  opacity: 1;
  -webkit-transform: translate3d(0, 0, 0);
          transform: translate3d(0, 0, 0);
}

/* 1200px */
@media (max-width: 75em) {
  .mainCta .mainCtaContent {
    padding-top: 100px;
    padding-bottom: 100px;
  }
  .mainCta .mainCtaContent .mainCtaContentLeft {
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
    text-align: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .mainCta .mainCtaContent .mainCtaContentLeft p {
    margin-bottom: 20px;
  }
  .mainCta .mainCtaContent .mainCtaContentRight {
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
    margin: 20px 0;
  }
}

/* 1024px */
@media (max-width: 64em) {
  .mainService .mainServiceContent > article {
    -ms-flex-preferred-size: calc(50% - 10px);
        flex-basis: calc(50% - 10px);
    margin-bottom: 20px;
  }
  .mainService .mainServiceContent .mainServiceContentLast {
    margin: 0 auto;
  }
  .mainPlans .mainPlansContent > article {
    -ms-flex-preferred-size: calc(50% - 10px);
        flex-basis: calc(50% - 10px);
    margin-bottom: 20px;
  }
  .mainPlans .mainPlansContent .mainPlansContentLast {
    margin: 0 auto;
  }
  .mainFooter .mainFooterContent {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .mainFooter .mainFooterContent > header {
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
    text-align: center;
    margin-bottom: 20px;
  }
  .mainFooter .mainFooterContent > article {
    text-align: center;
  }
}

/* 768px */
@media (max-width: 48em) {
  .mainService .mainServiceContent > article {
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
    margin-bottom: 20px;
  }
  .mainService .mainServiceContent .mainServiceContentLast {
    margin: 0;
  }
  .mainCta .mainCtaContent .mainCtaContentLeft > header h1 {
    font-size: 2.5em;
  }
  .mainCta .mainCtaContent .mainCtaContentRight {
    overflow: hidden;
  }
  .mainCta .mainCtaContent .mainCtaContentRight img {
    width: 150%;
  }
  .mainWeb .mainWebContent .mainWebContentLeft {
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
  }
  .mainWeb .mainWebContent .mainWebContentRight {
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    text-align: center;
  }
  .mainPlans .mainPlansContent > article {
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
    margin-bottom: 20px;
  }
  .mainPlans .mainPlansContent .mainPlansContentLast {
    margin: 0;
  }
  .mainFooter .mainFooterContent > article {
    -ms-flex-preferred-size: 50%;
        flex-basis: 50%;
  }
  .mainHeader .mainHeaderContent .mainHeaderContentMenu {
    display: none;
  }
  .mainHeader .mainHeaderContent .mainHeaderContentMenuMobile {
    display: inherit;
  }
}

/* 480px */
@media (max-width: 30em) {
  .mainFooter .mainFooterContent > article {
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
    margin-bottom: 40px;
  }
}
/*# sourceMappingURL=style.css.map */